{% extends "base.html" %}
{% load static %}

{% block title %}Page Not Found{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/error.css' %}">
{% endblock %}


{% block content %}
<h1>404: Page not Found</h1>
<img id="error-monkey" src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExZHU0NW03cTY4NDg4djVtNnJhc3VtdHNiczVqYW8za2pwMDc2c3l0byZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/5Zesu5VPNGJlm/giphy.gif" alt="A monkey at a broken laptop">
<p>Please check the website address is spelled correctly.</p>
<p>Click <a href="{% url 'index' %}">here</a> to go to the homepage.</p>
{% endblock %}