{% extends "base.html" %}
{% load static %}

{% block title %}Downloads{% endblock %}

{% block content %}
<div class="content">
  <h1>Available Downloads</h1>

  {% for folder, files in folders.items %}
    <div>
      <p>&#128193; {{ folder }}</p>
      <ul>
        {% for file in files %}
          <li>
            <a href="{% static file.path %}" download>
              {{ file.name }}
            </a> ({{ file.size }})
          </li>
        {% endfor %}
      </ul>
    </div>
  {% empty %}
    <p>No files found.</p>
  {% endfor %}
</div>
{% endblock %}