{% load static %}

<!DOCTYPE html>
<!-- mrwang.co.uk -->
<!-- Copyright Timothy Wang 2025 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} | Mr Wang</title>
  <link rel="icon" type="image/x-icon" href="{% static 'app/images/logos/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'app/css/global.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/global-mobile.css' %}">
  <!-- JQuery  -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
  {% block css %}{% endblock %}
</head>
<body>
  
  <!-- Navbar -->
  <header>
    <nav>
      <div class="nav-header">
        <a href="{% url 'index' %}"><span class="nav-title">mrwang.co.uk</span></a>
        <button class="nav-toggle" aria-label="Toggle navigation">
          &#9776;
        </button>
      </div>

      <div class="nav-links">
        <a href="{% url 'index' %}"><b>mrwang.co.uk/</b></a>
        <a href="{% url 'teacher' %}">Teacher Resources</a>
        <a href="{% url 'subjects' %}">Pupil Resources</a>
        <a href="{% url 'projects' %}">Other Projects</a>
        <a href="{% url 'about' %}">About</a>
      </div>
    </nav>
  </header>

  <main>
    {% block content %}
    <!-- Page content -->
    {% endblock %}
    <a href="{% url 'index' %}"><img id="mrwang-logo" src="{% static 'app/images/logos/mrwang-logo.png' %}" alt="Mr Wang Logo"></a>
  </main>

  <!-- Footer -->
  <footer>&copy; {% now "Y" %} Mr Wang - All rights reserved</footer>

  <!-- Scripts -->
  <script src="{% static 'app/js/global.js' %}"></script>
  {% block js %}{% endblock %}
</body>
</html>