{% extends "base.html" %}
{% load static %}

{% block title %}{{ module.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'subjects/css/subjects.css' %}">
{% endblock %}

{% block content %}
<div class="content">

  <div>
    <a href="{% url 'subject_detail' subject.slug %}" class="back-button">&lt; Back to <b>{{ subject.name }}</b></a>
  </div>
  
  <h1>{{ module.name }}</h1>
  <h2>Documents</h2>
  <p>Click on a document to download to your device.</p>

  <ul class="subject-link-container">
    {% for doc in documents %}
      <a class="subject-link" href="{{ doc.file.url }}">{{ doc.name }}</a>
    {% empty %}
      <li>No documents yet.</li>
    {% endfor %}
  </ul>

</div>
{% endblock %}