{% extends "base.html" %}
{% load static %}

{% block title %}{{ module.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'subjects/css/subjects.css' %}">
{% endblock %}

{% block content %}
<div class="content">

  <div>
    <a href="{% url 'subject_detail' subject.slug %}" class="back-button">&lt; Back to <b>{{ subject.name }}</b></a>
  </div>
  
  <h1>{{ module.name }}</h1>
  <h2>Documents</h2>
  <p>Click on a document to download to your device.</p>

  <ul class="subject-link-container">
    {% for doc in documents %}
      <div role="button" class="subject-link"
        data-file-name="{{ module.name }}: {{ doc.name }}"
        data-file-link="{{ doc.file.url }}">
        {{ doc.name }}
      </div>
    {% empty %}
      <li>No documents yet.</li>
    {% endfor %}
  </ul>

  <!-- Overlay Modal -->
  <div class="app-modal" id="appModal">
    <div class="app-modal-content">
        <button class="close-modal">&times;</button>
        <h4 id="modalName"></h4>
        <div class="pptx-preview">
          <iframe
            id="modalPreview"
            width="100%" height="100%" frameborder="0">
          </iframe>
        </div>
        <a id="modalLink" class="launch-btn">Download</a>
        <a id="modalLink" class="launch-btn">Generate Quiz</a>
    </div>
  </div>

</div>
{% endblock %}


{% block js %}
<script src="{% static 'subjects/js/subjects.js' %}"></script>
{% endblock %}