{% extends "base.html" %}
{% load static %}

{% block title %}{{ subject.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'subjects/css/subjects.css' %}">
{% endblock %}

{% block content %}
<div>
  <a href="{% url 'subjects' %}" class="back-button">&lt; Back to <b>Subjects</b></a>
</div>

<h1>{{ subject.name }}</h1>

<h2>Useful Links</h2>
<p>Click on a link to open it in a new tab.</p>
<ul class="subject-link-container">
  {% for link in links %}
    <a class="subject-link" href="{{ link.url }}" target="_blank">{{ link.name }}</a>
  {% empty %}
    <li>No links yet.</li>
  {% endfor %}
</ul>

<hr>

<h2>Modules</h2>
<div class="content-grid">
  {% for module in modules %}
      <a class="grid-button" href="{% url 'module_detail' subject.slug module.slug %}">
          {{ module.name }}
      </a>
  {% empty %}
    <li>No modules yet.</li>
  {% endfor %}
  </div>
{% endblock %}