/* Styles for generated quiz page */

.quiz-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background:#f9f9f9;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.quiz-question {
    margin-bottom: 1.5rem;
}
.quiz-question h4 {
    margin-bottom: 0.5rem;
}
.quiz-question ul {
    list-style-type: none;
    padding: 0;
}
.quiz-question li {
    margin-bottom: 0.5rem;
}

/* Question results */
.correct-answer {
    background-color: #d4edda;
}
.no-answer {
    background-color: #fff3cd;
}
.incorrect-answer {
    background-color: #f8d7da;
}

/* Submit button (override) */
.launch-btn {
    width: 50%;
    margin: 0 25%;
}

/* Score */
h4#quizResult {
    text-align: center;
    font-size: 1.5rem;
}

/* Explain answer button */
button.explain-btn {
    background-color: var(--main-gray);
    border: none;
    border-radius: 0.2rem;
    color: var(--main-lightgray);
    padding: 0.6rem 0.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    cursor: pointer;
    width: 40%;
    margin: 0.5rem 30%;
    transition: 0.1s ease-in-out;
}
button.explain-btn:hover {
    background-color: var(--main-lightgray);
    color: var(--main-gray);
    transform: scale(1.05);
}

/* Explanation box */
.explanation-box {
    box-sizing: border-box;
    background-color: white;
    width: 92%;
    margin: 0.3rem 4%;
    padding: 0.3rem;
    border-radius: 0.5rem;
}



/* Mobile view */
@media only screen and (max-width: 600px) {

    button.explain-btn {
        font-size: large;
        padding: 1rem 0.5rem;
    }

}