{% extends "base.html" %}
{% load static %}

{% block title %}Code Puzzles{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'code_puzzles/css/puzzle_home.css' %}">
{% endblock %}

{% block content %}
<h1>Code Puzzles</h1>

<div class="content-grid">
      <a class="grid-button" href="{% url 'view_examples' %}">
          View VB Code Examples
      </a>
      <a class="grid-button" href="{% url 'play' %}">
          Revise Code
      </a>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'code_puzzles/js/puzzle_home.js' %}"></script>
{% endblock %}