/* Styles of code puzzle page */

.sortable-list {
    list-style: none;
    padding: 0;
}
.sortable-item {
    padding: 10px;
    margin-bottom: 5px;
    background: #eee;
    border: 1px solid #ccc;
    cursor: grab;
    font-family: monospace;
}
.sortable-item:active {
    cursor: grabbing;
}