/* Styles for code puzzles page */

/* Reduce code size on mobile view */
@media only screen and (max-width: 600px) {
    code {
        font-size: 1rem !important;
    }
    select {
        font-size: larger;
    }
}