/* Styles for quiz generator */

body {
    text-align: center;
}
button {
    background: var(--main-purple);
    border: 1px solid black;
    padding: 10px 30px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: 0.1s linear;
}
button:hover {
    background: var(--main-yellow);
    color: black;
    transform: scale(1.01);
}

/* Disable textarea resizing */
textarea {
    resize: none;
}

/* Two-column layout */
.two_col {
    display: flex;
    width: 350px;
    margin: auto;
}
.column {
    flex: 50%;
}

/* More options button */
a#more-options {
    color: gray;
    font-style: italic;
    cursor: pointer;
    font-size: 12px;
}
a#more-options:hover {
    text-decoration: underline;
}
.collapsable {
    display: none;
}