{% extends "base.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block css %}
<!-- Prism.js CSS for code snippet formatting -->
<link href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'app/css/about.css' %}">
{% endblock %}


{% block content %}
<h1>About the Site</h1>
<p>Hello! My name is Mr Wang and I&apos;m a Computing Science teacher at <a href="https://blogs.glowscotland.org.uk/er/MearnsCastle/" target="_blank">Mearns Castle High School</a>. </p>
<img id="rocket-costume" src="{% static 'app/images/rocket-costume.jpg' %}" alt="Mr Wang in a rocket costume.">
<p>This site is a side project of mine to host various educational tools and resources, alongside any personal projects.</p>
<p>Please give me feedback, report bugs, or request new features by <a href="{% url 'feedback' %}">getting in touch</a>.
<p>Thanks for visiting!</p>
<div>
    <h2>Site Details</h2>
</div>
<p>This site is a <a href="https://www.djangoproject.com/" target="_blank">Django</a> web app, hosted on <a href="https://render.com/" target="_blank">Render</a>.</p>
<p><a href="https://github.com/timo-w/mrwang" target="_blank">Click here</a> to open the GitHub page for this project.</p>

<br><hr><br>

<h1>About the AI Quiz Generator</h1>
<p>There are many sites and services for creating and hosting digital quizzes, with many having their own proprietary services for the AI-generation of quizzes. However, many of these require signing up for accounts or paying for premium features such as AI-generation.</p>
<p>The goal of this service is to have a unified, single web interface for the generation of quizzes in as many formats as possible, with no subscriptions or account sign-ups.</p>
<h2>Technical Details</h2>
<p>The app generates a prompt from the form input, which is passed into the <a href="https://azure.microsoft.com/" target="_blank">Azure API</a>. Currently, the model uses the <a href="https://developers.openai.com/api/docs/models/gpt-4.1-mini" target="_blank">GPT-4.1 Mini</a> model for response generation, which was chosen for its cost efficiency.</p>
<h2>Pre-prompts</h2>
<p>The prompt which is passed into the Azure API is made up of a &quot;system prompt&quot; and a &quot;user prompt&quot;.
<p>The function which sends data to the API looks like this:</p>

<pre><code class="language-python">
# Call Azure OpenAI
def generate_text(
    source_material: str,
    level: str,
    no_of_questions: str,
    no_of_choices: str,
    additional_info: str
) -> str:
    system_prompt = """
        You are a helpful assistant that creates multiple-choice quiz documents.
        Do not include any formatting symbols in your response.
        Do not respond with any follow-up questions.
        Use British English spellings, grammar, and conventions throughout.

        Your response will follow a specific format:
        - For each question, begin with the question number followed by a dot and the question text in one line.
        - Do not use bullet points, only new lines.
        - Under each question text, insert a new line and then the possible answer beginning with the letter from A.
        - Randomise the answer order, and below add "Answer: " followed by the letter of the correct answer. Below this, add a line with "Point: 1".

        You will be making quizzes which secondary teachers in Scotland will be using. This means that:
        - Quizzes for S1-2s should contain questions which are answerable by 12-13 year olds.
        - NPAs, National 4/5, Higher, and Advanced Higher quizzes should contain content which is applicable for those courses.

        The user prompt will contain the details for the quiz.

    """
    user_prompt = f"""
        Source material:
        {source_material}

        Level: {level}
        Number of questions: {no_of_questions}
        Choices per question: {no_of_choices}
        Additional information: {additional_info}
    """
    response = client.chat.completions.create(
        model=os.getenv("AZURE_DEPLOYMENT_NAME"),
        messages=[
            {"role": "system", "content": system_prompt},
            {"role": "user", "content": user_prompt}
        ]
    )
    return response.choices[0].message.content
</code></pre>

<p>The response from this prompt can be used to generate documents or importable files for services such as Microsoft Forms or Blooket.</p>
<p><a href="{% url 'quiz_gen' %}">Click here</a> to use the quiz generator.</p>
{% endblock %}


{% block js %}
<!-- Prism.js scripts -->
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-python.min.js"></script>
{% endblock %}