{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/index.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <h1>MrWang.co.uk</h1>
    <p>Welcome to Mr Wang&apos;s website! Here you will find educational resources, tools, and other fun projects.</p>
    <hr>

    <h4>Educational Resources</h4>
    <div class="content-grid">
        <a class="grid-button" href="{% url 'teacher' %}">
            Teacher Resources
        </a>
        <a class="grid-button" href="{% url 'pupil' %}">
            Pupil Resources
        </a>
    </div>
    <br><hr>

    <h4>Other Stuff</h4>
    <div class="content-grid">
        <a class="grid-button" href="{% url 'about' %}">
            About this Website
        </a>
        <a class="grid-button" href="{% url 'photography' %}">
            Photography
        </a>
        <a class="grid-button" href="{% url 'projects' %}">
            Other projects
        </a>
    </div>
    <br>

</div>
{% endblock %}