{% extends "base.html" %}
{% load static %}

{% block title %}Projects{% endblock %}


{% block content %}
<div class="content">
    <h1>Other Projects</h1>
    
    <div class="content-grid">
        <div class="grid-button" 
            data-app-name="Photo Gallery"
            data-app-desc="Some highlights from my photography hobby"
            data-app-img="{% static 'app/images/thumbnails/photography-thumbnail.jpg' %}"
            data-app-link="{% url 'gallery_overview' %}">
            Photo Gallery
        </div>
        <div class="grid-button" 
            data-app-name="New projects coming soon"
            data-app-desc="Check in again for future progress!"
            data-app-img="{% static 'app/images/thumbnails/under-construction.jpg' %}"
            data-app-link="">
            Coming Soon
        </div>
    </div>
    <br>

    <!-- Overlay Modal -->
    <div class="app-modal" id="appModal">
        <div class="app-modal-content">
            <button class="close-modal">&times;</button>
            <img id="modalImg" src="" alt="App thumbnail">
            <h4 id="modalTitle"></h4>
            <p id="modalDesc"></p>
            <a id="modalLink" class="launch-btn" href="#">Open Resource</a>
        </div>
    </div>

</div>
{% endblock %}