/* Styles */

body {
    font-family: Arial, sans-serif;
    background: #8320bd;
    background: linear-gradient(45deg,rgba(131, 32, 189, 1) 0%, rgba(255, 236, 64, 1) 100%);
    background-attachment: fixed;
    background-size: 160% 160%;
    animation: gradientShift 12s ease infinite;
    color: black;
    padding: 2rem;
}

/* Background gradient animation */
@keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

nav, .content {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* Nav bar */
nav {
    margin-bottom: 20px;
    padding: 1rem 2rem;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: rgba(131, 32, 189, 1);
    cursor: pointer;
    font-size: 14px;
    transition: 0.05s linear;
}
nav a:hover {
    font-size: 14.5px;
    text-decoration: underline;
}

/* Bellahouston Academy Logo */
#bella-logo {
  position: fixed;
  bottom: 30px;
  left: 30px;
  height: 100px;
}

/* Footer */
footer {
  color: white;
  font-size: 12px;
  text-align: center;
  font-style: italic;
  padding: 2rem;
}

/* Headings */
h1, h2, h3 {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 1rem auto 2rem auto;
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, rgba(131, 32, 189, 1), rgba(255, 236, 64, 1)) border-box;
  border-radius: 10px;
  padding: 10px;
}
h1 {
  font-size: 40px;
  border: 3px solid transparent;
  max-width: 500px;
}
h2, h3 {
  margin-top: 30px;
  border-bottom: 2px solid transparent;
  max-width: 400px;
}