/* Mobile global site styles */

@media only screen and (max-width: 600px) {

    /* Body and content boxes */
    body {
        padding: 0;
        margin: 0;
        width: 100%;
        font-size: x-large;
    }
    nav, .content {
        background-color: white;
        border-radius: 0;
        padding: 12px 0 50px 0;
        margin: 10px 0;
        width: 100%;
    }
    nav {
        margin-bottom: 10px;
        padding: 10px 0;
        text-align: center;
    }
    #mrwang-logo {
        display: none;
    }
    .content p {
        padding: 1rem;
    }

    /* Navigation */
    .nav-toggle {
        display: block;
    }
    .nav-title {
        display: block;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin: 1rem 0;
    }
    .nav-links a {
        font-size: x-large;
    }
    .nav-links a:hover {
        font-size: x-large;
    }
    .nav-links.show {
        display: flex;
        animation: slideDown 0.3s ease forwards;
    }

    /* Burger menu animation */
    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Headings */
    h1, h2, h3 {
        width: 90%;
    }

    /* Grid buttons */
    .content-grid {
        grid-template-columns: 1fr;
        padding: 0 2rem;
        height: 400px;
    }
    .content-grid a, .content-grid div {
        width: 100%;
    }
    .content-grid a:hover, .content-grid div:hover {
        transform: none;
    }
    .grid-button {
        padding: 0;
        padding-top: 1rem;
        height: 100%;
        border: none;
        border-radius: 0.5rem;
        font-size: x-large;
        text-align: center;
        
    }

    /* --- Modal Overlay --- */
    .app-modal-content {
        width: 80%;
        max-width: 500px;
    }
    .app-modal-content img {
        width: 80%;
        margin: 0 10%;
        margin-bottom: 0;
    }
    .app-modal-content h2 {
        margin-bottom: 0;
        font-size: x-large;
    }
    .app-modal-content p {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .close-modal {
        font-size: 4rem;
    }

    /* Launch buttons */
    .launch-btn {
        font-size: x-large;
    }

    /* Back button */
    .back-button {
        font-size: large;
        margin: 20px;
    }

    /* Small content grid */
    .content-grid-small {
        grid-template-columns: 1fr;
        padding: 0 2rem;
    }

}