/* Global site styles */

:root {
  --main-purple: rgba(131, 32, 189, 1);
  --main-yellow: rgba(255, 236, 64, 1);
  --main-bg-gradient: linear-gradient(45deg,var(--main-purple) 0%, var(--main-yellow) 100%);
  --main-bg-gradient-outline: linear-gradient(white, white) padding-box, var(--main-bg-gradient) border-box;
}

body {
    font-family: Arial, sans-serif;
    background: var(--main-purple);
    background: var(--main-bg-gradient);
    background-attachment: fixed;
    background-size: 160% 160%;
    animation: gradientShift 12s ease infinite;
    color: black;
    padding: 2rem;
}

/* Background gradient animation */
@keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

nav, .content {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* Nav bar */
nav {
    margin-bottom: 20px;
    padding: 1rem 2rem;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: var(--main-purple);
    cursor: pointer;
    font-size: 14px;
    transition: 0.05s linear;
}
nav a:hover {
    font-size: 14.5px;
    text-decoration: underline;
}

/* Bellahouston Academy Logo */
#bella-logo {
  position: fixed;
  bottom: 30px;
  left: 30px;
  height: 100px;
}

/* Footer */
footer {
  color: white;
  font-size: 12px;
  text-align: center;
  font-style: italic;
  padding: 2rem;
  cursor: default;
}

/* Headings */
h1, h2, h3 {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 1rem auto 2rem auto;
  background: var(--main-bg-gradient-outline);
  border-radius: 10px;
  padding: 10px;
  cursor: default;
}
h1 {
  font-size: 40px;
  border: 3px solid transparent;
  max-width: 500px;
}
h2, h3 {
  margin-top: 30px;
  border-bottom: 2px solid transparent;
  max-width: 400px;
}

/* Button grid */
.content-grid {
  display: flex;
  gap: 2rem;
}
.content-grid a {
  flex: 50%;
  transition: 0.1 ease-in-out;
}
.content-grid a:hover {
  transform: scale(1.05);
}

/* Grid buttons  */
.grid-button {
  position: relative;
  background-color: #262626;
  height: 6rem;
  border: 2px solid white;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  padding: 0.75rem;
  border-radius: 0.5rem;
  overflow: hidden;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  transition: all 0.5s ease;
}
/* --- Pseudo elements --- */
.grid-button::before,
.grid-button::after {
  content: '';
  position: absolute;
  border-radius: 9999px;
  filter: blur(20px);
  transition: all 0.5s ease;
  z-index: 10;
}
/* Purple circle */
.grid-button::before {
  width: 4rem;
  height: 4rem;
  right: 0.25rem;
  top: 4.5rem;
  background-color: var(--main-purple);
}
/* Yellow circle */
.grid-button::after {
  width: 6rem;
  height: 6rem; 
  right: 2rem;
  top: 5rem;
  background-color: var(--main-yellow);
}
/* --- Hover effects --- */
.grid-button:hover {
  border-color: var(--main-yellow);
  color: var(--main-yellow);
  text-decoration-thickness: 2px;
  text-underline-offset: 1rem;
}
/* Move and blur pseudo elements */
.grid-button:hover::before {
  right: 3rem;
  top: 5rem;
  filter: blur(30px);
  box-shadow: 10px 10px 10px 20px var(--main-purple);
}
.grid-button:hover::after {
  right: -2rem;
}