/* Styles for quiz generator */

body {
    text-align: center;
}
button {
    background: rgba(131, 32, 189, 1);
    border: 1px solid black;
    padding: 10px 30px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: 0.1s linear;
}
button:hover {
    background: rgba(255, 236, 64, 1);
    color: black;
    transform: scale(1.01);
}

textarea {
    resize: none;
}
  